
#Type-of-the-ticket{
    width: 200px;
}


#Ticket-Count {
    width: 200px;
}


#Count-of-number-of-food-token  {
    width: 200px;
}

.add{
    padding: 10px;
    background-color: rgb(106, 215, 179);
}

.add:hover{
    color: rgb(45, 213, 168);
    background-color: white;
}

.Tickettype{
    border-radius: 10px;
    padding: 5PX;
    background-color: rgb(106, 215, 179);
}

.inputfields{
    border-radius: 10px;
    padding: 5PX;
    background-color: rgb(106, 215, 179);
}

.currentcoststyle{
    color: white;
}



table, th, td {
    border: 4px solid rgb(246, 244, 244);
    border-collapse: collapse;
    width: 50%;
    height: 50px;
}

.addbtn{
    padding: 20px;
    background-color: rgb(106, 215, 179);
}

label{
    color: white;
    padding-right: 10px;
}



.currentOrder {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
    
}
.overallOrder {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.OrderH {
    font-family: "Metal Mania";
    font-weight: normal;
    color: rgb(255, 254, 254);
    text-align: center;
    font-size: 40px;
}
.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
}
.btn-primary {
    padding: 20px;
    background-color: rgb(106, 215, 179);
    border: black;
    font-weight: bold;
    
}

.btn-primary:hover {
    color: rgb(45, 213, 168);
    background-color: white;
}
.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1em;
    min-width: 150px;
    padding: 5px;
    
}
.btn-removeAll{
    display:block;
    margin: 40px auto 80px auto;
    font-size: 1em;
    min-width: 150px;
    padding: 5px;
    background-color: red;
}

.btn-lastPurchase{
    display:block;
    margin: 40px auto 80px auto;
    font-size: 1em;
    min-width: 150px;
    padding: 5px;
}
.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: rgb(245, 238, 238);
    font-weight: bold;


    
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px rgb(249, 246, 246);
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1em;
    color: rgb(250, 248, 248);
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: rgb(253, 249, 249);
    margin-left: .5em;
    font-size: 1.0em;
}
.cart-quantity-input {
    height: 34px;
    width: 35px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: rgb(243, 237, 237);
    color: black;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px rgb(255, 254, 254);
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
    font-size: medium;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(247, 243, 243);
    margin-right: 20px;
}

.cart-total-price {
    color: rgb(249, 245, 245);
    font-size: 1.1em;
}

.btn-danger {
    color: rgb(241, 233, 233);
    background-color:red;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

















@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}
body{
	background: url("../img/Acticitiespagesem2\(2\).webp") center no-repeat;
	background-size: cover;
	color: #333;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
}

h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-family: 'Cookie', cursive;
}
img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}

.text-center{
	text-align: center;
}  




